table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	/*border-collapse: collapse;*/
}
table.imagetable th {
	background:#b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td.out {
	background:#FF9933;
}
span.out {
	background:#FF9933;
}
.standings {
	margin-bottom: 50px; 
}
.groups {
	margin-top: 50px;
}
a.top {
	font-size: 10px;	
}

td.argentina::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Argentina.jpg');
	padding-right: 0.5rem;
}
td.brazil::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Brazil.jpg');
	padding-right: 0.5rem;
}
td.france::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/France.jpg');
	padding-right: 0.5rem;
}

td.spain::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Spain.jpg');
	padding-right: 0.5rem;
}
td.england::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/England.jpg');
	padding-right: 0.5rem;
}
td.holland::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Netherlands.jpg');
	padding-right: 0.5rem;
}

td.germany::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Germany.jpg');
	padding-right: 0.5rem;
}
td.portugal::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Portugal.jpg');
	padding-right: 0.5rem;
}
td.belgium::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Belgium.jpg');
	padding-right: 0.5rem;
}

td.denmark::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Denmark.jpg');
	padding-right: 0.5rem;
}
td.croatia::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Croatia.jpg');
	padding-right: 0.5rem;
}
td.uruguay::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Uruguay.jpg');
	padding-right: 0.5rem;
}

td.switzerland::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Switzerland.jpg');
	padding-right: 0.5rem;
}
td.ecuador::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Ecuador.jpg');
	padding-right: 0.5rem;
}
td.mexico::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Mexico.jpg');
	padding-right: 0.5rem;
}

td.poland::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Poland.jpg');
	padding-right: 0.5rem;
}
td.senegal::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Senegal.jpg');
	padding-right: 0.5rem;
}
td.usa::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/USA.jpg');
	padding-right: 0.5rem;
}
td.serbia::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Serbia.jpg');
	padding-right: 0.5rem;
}

td.wales::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Wales.jpg');
	padding-right: 0.5rem;
}
td.morocco::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Morocco.jpg');
	padding-right: 0.5rem;
}
td.korea::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/South_Korea.jpg');
	padding-right: 0.5rem;
}

td.canada::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Canada.jpg');
	padding-right: 0.5rem;
}
td.ghana::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Ghana.jpg');
	padding-right: 0.5rem;
}
td.japan::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Japan.jpg');
	padding-right: 0.5rem;
}

td.australia::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Australia.jpg');
	padding-right: 0.5rem;
}
td.cameroon::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Cameroon.jpg');
	padding-right: 0.5rem;
}
td.iran::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Iran.jpg');
	padding-right: 0.5rem;
}

td.tunisia::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Tunisia.jpg');
	padding-right: 0.5rem;
}
td.qatar::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Qatar.jpg');
	padding-right: 0.5rem;
}
td.saudia::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Saudi_Arabia.jpg');
	padding-right: 0.5rem;
}
td.costa::before	{
	content: url('https://raw.githubusercontent.com/gocaps/qatar_kids/main/flags/Costa_Rica.jpg');
	padding-right: 0.5rem;
}
